.flex {
  display: flex;
}
.btn {
  font-family: cursive;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: .25s ease-in-out;
}
.btn.btn-entry {
  width: 100%;
  padding: 10px;
  color: #f0f0f0;
  box-shadow: 0 0 40px 40px dodgerblue inset, 0 0 0 0 dodgerblue;
}
.btn-entry:hover {
  color: dodgerblue;
  box-shadow: 0 0 10px 0 dodgerblue inset, 0 0 10px 4px dodgerblue;
}

.fields {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.field {
  display: flex;
  padding: 1em 0;
}

.box-field input {
  background-color: #424242;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  border-color: dodgerblue;
  color: dodgerblue;
  border-width: 1px 1px 1px 1px;
  box-sizing: border-box;
  font-family: cursive;
  outline: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

::placeholder {
  font-family: cursive;
}

.icon-field {
  width: 32px;
}
.icon-filed-large {
  width: 42px;
}

.wthree-field {
  flex: 2 55%;
  -webkit-box-flex: 2 55%;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 2 55%;        /* OLD - Firefox 19- */
  -webkit-flex: 2 55%;          /* Chrome */
  -ms-flex: 2 55%;             /* IE 10 */
}
.wthree-field input {
  padding: 10px;
  font-size: 14px;
  color: #333;
  letter-spacing: 1px;
  border: none;
  border-width: 1px 1px 1px 1px;
  background: #fff;
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif; */
  width: 100%;
  outline: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

